---
interface Props {
  img: string
  alt: string
  title: string
  text: string
  link: string
  class?: string
}

const { img, alt, title, text, link, class: className = '' } = Astro.props
---

<div class={className} role="group" aria-roledescription="slide">
  <img src={img} alt={alt} />
  <h3>{title}</h3>
  <p>{text}</p>
  <span class="text-stone-700 underline">{link}</span>
</div>
